{% extends 'base.html' %}
{% load static %}

{% block title %}Rooms List{% endblock %}

{% block content %}
<div class="container">
    <div class="list-container">
        <h2>Rooms</h2>
        <ul>
            {% for room in rooms %}
            <li>
                <span>{{ room.name }}: Room {{ room.room_number }} on floor {{ room.floor }} (Capacity: {{ room.capacity }})</span>
                <div class="room-actions">
                    <!-- Tu możesz dodać przyciski akcji, jeśli są potrzebne -->
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <img src="{% static 'images/ScheduPulse.png' %}" alt="ScheduPulse Logo" class="schedu-image">
</div>
{% endblock %}
