/* Główne kolory */
:root {
    --primary-color: #4e4b6e;
    --secondary-color: #655c7f;
    --background-color: #d4ccbb;
    --light-background-color: #faebd4;
    --accent-color: #fb583d;
    --accent-dark-color: #e74327;
    --text-color: #333;
    --light-text-color: #666;
}

/* Stylizacja ciała strony */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

/* Nagłówki i stopki */
header, footer {
    background-color: var(--primary-color);
    color: white;
    padding: 1em 0;
    text-align: center;
}

/* Nawigacja */
nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Wyrównanie linków do lewej */
    background-color: var(--secondary-color);
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    display: inline-block;
    font-weight: 700; /* Pogrubienie czcionki */
}

nav a:hover {
    background-color: var(--accent-dark-color);
}

.nav-right {
    margin-left: auto; /* Przesunięcie linku "About" do prawej strony */
}

/* Stylizacja przycisku Logout */
.logout-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 700; /* Pogrubienie czcionki */
}

.container {
    width: 80%;
    margin: 2em auto;
    padding: 2em;
    background: #FFFFF0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: row; /* Ustawienie elementów w wierszu */
    align-items: flex-start;
    justify-content: space-between; /* Zapewnienie odstępu między elementami */
}

.content {
    flex: 1; /* Pozwolenie, aby zawartość zajęła dostępne miejsce */
    margin-right: 20px; /* Dodanie marginesu między zawartością a obrazem */
}

h1, h2, h3 {
    color: var(--primary-color);
}

/* Stylizacja linków w sekcji meetings */
.meetings-list a {
    color: black; /* Zmiana koloru linków na czarny */
    text-decoration: none; /* Usunięcie podkreślenia linków */
}

.meetings-list a:hover {
    text-decoration: underline; /* Dodanie podkreślenia przy najechaniu */
    color: var(--accent-dark-color); /* Zmiana koloru przy najechaniu */
}

/* Listy */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 0.5em 0;
}

/* Stylizacja formularzy */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 2em; /* Większy odstęp między polami formularza */
    margin-bottom: 2em; /* Większy odstęp między formularzem a przyciskiem */
}

.form-section {
    margin-bottom: 2em; /* Większy odstęp między sekcjami formularza */
}

.form-container label {
    font-weight: 700; /* Pogrubienie etykiet */
}

.form-container input, 
.form-container select, 
.form-container textarea {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box; /* Zapewnia, że padding jest uwzględniany w szerokości i wysokości */
}

.btn-submit {
    padding: 0.7em 1.5em;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Wyśrodkowanie przycisku */
    font-weight: 700; /* Pogrubienie tekstu przycisku */
    width: fit-content; /* Dopasowanie szerokości przycisku do zawartości */
}

.btn-submit:hover {
    background-color: var(--accent-dark-color);
}

.btn-cancel {
    padding: 0.7em 1.5em;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto; /* Wyśrodkowanie przycisku */
    font-weight: 700; /* Pogrubienie tekstu przycisku */
    text-align: center;
    width: fit-content; /* Dopasowanie szerokości przycisku do zawartości */
    text-decoration: none;
}

.btn-cancel:hover {
    background-color: var(--primary-color);
}

/* Stylizacja linków edycji i usuwania */
.btn-edit, .btn-delete {
    padding: 0.5em 1em;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700; /* Pogrubienie tekstu przycisku */
    text-align: center;
    text-decoration: none; /* Usunięcie podkreślenia linków */
    margin-right: 0.5em; /* Odstęp między przyciskami */
}

.btn-edit {
    background-color: var(--accent-color);
}

.btn-edit:hover {
    background-color: var(--accent-dark-color);
}

.btn-delete {
    background-color: var(--secondary-color);
}

.btn-delete:hover {
    background-color: var(--primary-color);
}

/* Stylizacja kontenera przycisków */
.meeting-actions {
    display: inline-flex; /* Wyświetlanie przycisków obok siebie */
    gap: 0.5em; /* Odstęp między przyciskami */
    margin-left: 1em; /* Odstęp między tekstem a przyciskami */
}

.profile-form-section {
    margin-bottom: 2em; /* Większy odstęp między sekcjami formularza */
}

/* Alerty */
.alert {
    padding: 1em;
    margin: 1em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    top: 0;
    z-index: 1000; /* Zapewnia, że alert będzie wyświetlany na górze */
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.about-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    align-self: center; /* Przesunięcie obrazu w prawo */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.schedu-image {
    flex: 1; /* Pozwolenie, aby obraz zajmował jedną część dostępnej przestrzeni */
    max-width: 500px;
    height: auto;
    align-self: flex-end;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar-image {
    flex: 1; /* Pozwolenie, aby obraz zajmował jedną część dostępnej przestrzeni */
    max-width: 500px;
    height: auto;
    align-self: flex-end;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Responsywność */
@media (max-width: 1024px) {
    nav {
        flex-direction: column; /* Nawigacja w kolumnie dla mniejszych ekranów */
        align-items: flex-start; /* Wyrównanie elementów do lewej */
    }

    .nav-right {
        margin-left: 0;
        margin-top: 1em;
        align-self: flex-end;
    }

    .container {
        flex-direction: column; /* Ustawienie elementów w kolumnie dla małych ekranów */
        align-items: center; /* Wyśrodkowanie elementów */
    }

    .content {
        margin-right: 0; /* Usunięcie marginesu dla małych ekranów */
    }

    .schedu-image {
        max-width: 100%; /* Upewnienie się, że obraz nie przekroczy szerokości kontenera */
        margin-top: 20px; /* Dodanie marginesu górnego między zawartością a obrazem */
    }

    .calendar-image {
        max-width: 100%; /* Upewnienie się, że obraz nie przekroczy szerokości kontenera */
        margin-top: 10px; /* Dodanie marginesu górnego między zawartością a obrazem */
    }
}

@media (max-width: 768px) {
    nav a {
        padding: 0.5em 0;
        width: 100%;
        text-align: center;
    }

    .container {
        flex-direction: column; /* Ustawienie elementów w kolumnie dla małych ekranów */
        align-items: center; /* Wyśrodkowanie elementów */
    }

    .content {
        margin-right: 0; /* Usunięcie marginesu dla małych ekranów */
    }

    .schedu-image {
        max-width: 100%; /* Upewnienie się, że obraz nie przekroczy szerokości kontenera */
        margin-top: 20px; /* Dodanie marginesu górnego między zawartością a obrazem */
    }

    .calendar-image {
        max-width: 100%; /* Upewnienie się, że obraz nie przekroczy szerokości kontenera */
        margin-top: 10px; /* Dodanie marginesu górnego między zawartością a obrazem */
    }
}

@media (max-width: 480px) {
    nav {
        flex-direction: column; /* Nawigacja w kolumnie dla najmniejszych ekranów */
        align-items: flex-start; /* Wyrównanie elementów do lewej */
    }

    nav a {
        padding: 0.5em 0;
        width: 100%;
        text-align: center;
    }

    .nav-right {
        margin-left: 0;
        margin-top: 1em;
        align-self: center;
    }

    .container {
        padding: 1em; /* Zmniejszenie paddingu dla bardzo małych ekranów */
        flex-direction: column; /* Ustawienie elementów w kolumnie */
        align-items: center; /* Wyśrodkowanie elementów */
    }

    .content {
        margin-right: 0; /* Usunięcie marginesu dla małych ekranów */
    }

    .schedu-image {
        max-width: 100%; /* Upewnienie się, że obraz nie przekroczy szerokości kontenera */
        margin-top: 10px; /* Dodanie marginesu górnego między zawartością a obrazem */
    }

    .calendar-image {
        max-width: 100%; /* Upewnienie się, że obraz nie przekroczy szerokości kontenera */
        margin-top: 10px; /* Dodanie marginesu górnego między zawartością a obrazem */
    }
}
