:root {
    /* Main color variables */
    --primary-color: #4e4b6e;
    --secondary-color: #655c7f;
    --background-color: #d4ccbb;
    --light-background-color: #faebd4;
    --accent-color: #fb583d;
    --accent-dark-color: #e74327;
    --text-color: #333;
    --light-text-color: #666;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: var(--primary-color);
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Align links to the left */
    background-color: var(--secondary-color);
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    display: inline-block;
    font-weight: 700; /* Bold text */
    letter-spacing: 1px;
}

nav a:hover {
    background-color: var(--accent-dark-color);
}

.nav-right {
    margin-left: auto; /* Align "About" link to the right */
}

.logout-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 700; /* Bold text */
}

.container {
    width: 80%;
    margin: 2em auto;
    padding: 2em;
    background: #FFFFF0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: row; /* Arrange items in a row */
    align-items: flex-start;
    justify-content: space-between; /* Space between items */
}

.content {
    flex: 1; /* Allow content to take available space */
    margin-right: 20px; /* Space between content and image */
}

h1, h2, h3 {
    color: var(--primary-color);
}

.list-container {
    width: 100%;
    margin-bottom: 2em;
    margin-right: 2em;
}

.list-container h2 {
    margin-bottom: 1em;
    color: var(--primary-color);
}

.list-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-container li {
    padding: 1em;
    background: var(--light-background-color);
    margin-bottom: 0.5em;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-container li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700; /* Bold text */
}

.list-container li a:hover {
    text-decoration: underline;
    color: var(--accent-dark-color);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 0.5em 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 2em; /* Increase space between form fields */
    margin-bottom: 2em; /* Increase space between form and button */
    margin-left: 1em;
    width: 50%;
}

.form-section {
    margin-bottom: 2em; /* Increase space between form sections */
}

.form-container label {
    font-weight: 700; /* Bold labels */
}

.form-container input, 
.form-container select, 
.form-container textarea {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box; /* Include padding in width and height */
}

.btn-submit {
    padding: 0.7em 1.5em;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Center the button */
    font-weight: 700; /* Bold button text */
    width: fit-content; /* Fit button width to content */
}

.btn-submit:hover {
    background-color: var(--accent-dark-color);
}

.btn-cancel {
    padding: 0.7em 1.5em;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto; /* Center the button */
    font-weight: 700; /* Bold button text */
    text-align: center;
    width: fit-content; /* Fit button width to content */
    text-decoration: none;
}

.btn-cancel:hover {
    background-color: var(--primary-color);
}

.btn-edit, .btn-delete {
    padding: 0.5em 1em;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700; /* Bold button text */
    text-align: center;
    text-decoration: none; /* Remove link underline */
    margin-right: 0.5em; /* Space between buttons */
}

.btn-edit {
    background-color: var(--background-color); /* Set background color */
    color: var(--text-color); /* Set text color */
}

.btn-edit:hover {
    background-color: var(--light-background-color); /* Lighter color on hover */
}

.btn-delete {
    background-color: var(--secondary-color);
}

.btn-delete:hover {
    background-color: var(--primary-color);
}

.meeting-actions {
    display: inline-flex; /* Display buttons side by side */
    gap: 0.5em; /* Space between buttons */
    margin-left: 1em; /* Space between text and buttons */
    margin-top: 17px;
}

.profile-form-section {
    margin-bottom: 2em; /* Increase space between profile sections */
}

.alert {
    padding: 1em;
    margin: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.about-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    align-self: center; /* Align image to the center */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.schedu-image {
    flex: 1; /* Allow image to take available space */
    max-width: 500px;
    height: auto;
    align-self: flex-start;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar-image {
    flex: 1; /* Allow image to take available space */
    max-width: 500px;
    height: auto;
    align-self: flex-end;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Responsiveness */
@media (max-width: 1024px) {
    nav {
        flex-direction: column; /* Navigation in a column for smaller screens */
        align-items: flex-start; /* Align items to the left */
    }

    .nav-right {
        margin-left: 0;
        margin-top: 1em;
        align-self: flex-end;
    }

    .container {
        flex-direction: column; /* Arrange items in a column for small screens */
        align-items: center; /* Center items */
    }

    .content {
        margin-right: 0; /* Remove margin for small screens */
    }

    .schedu-image {
        max-width: 100%; /* Ensure image doesn't exceed container width */
        margin-top: 20px; /* Add top margin between content and image */
    }

    .calendar-image {
        max-width: 100%; /* Ensure image doesn't exceed container width */
        margin-top: 10px; /* Add top margin between content and image */
    }
}

@media (max-width: 768px) {
    nav a {
        padding: 0.5em 0;
        width: 100%;
        text-align: center;
    }

    .container {
        flex-direction: column; /* Arrange items in a column for small screens */
        align-items: center; /* Center items */
    }

    .content {
        margin-right: 0; /* Remove margin for small screens */
    }

    .schedu-image {
        max-width: 100%; /* Ensure image doesn't exceed container width */
        margin-top: 20px; /* Add top margin between content and image */
    }

    .calendar-image {
        max-width: 100%; /* Ensure image doesn't exceed container width */
        margin-top: 10px; /* Add top margin between content and image */
    }
}

@media (max-width: 480px) {
    nav {
        flex-direction: column; /* Navigation in a column for the smallest screens */
        align-items: flex-start; /* Align items to the left */
    }

    nav a {
        padding: 0.5em 0;
        width: 100%;
        text-align: center;
    }

    .nav-right {
        margin-left: 0;
        margin-top: 1em;
        align-self: center;
    }

    .container {
        padding: 1em; /* Reduce padding for very small screens */
        flex-direction: column; /* Arrange items in a column */
        align-items: center; /* Center items */
    }

    .content {
        margin-right: 0; /* Remove margin for small screens */
    }

    .schedu-image {
        max-width: 100%; /* Ensure image doesn't exceed container width */
        margin-top: 10px; /* Add top margin between content and image */
    }

    .calendar-image {
        max-width: 100%; /* Ensure image doesn't exceed container width */
        margin-top: 10px; /* Add top margin between content and image */
    }
}
